<div class="container-fluid" id="tb">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">s.no</th>

                <th scope="col">Title</th>

                <th scope="col">First-name</th>
                <th scope="col">Last-name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of myData ;let i=index">
            <tr>
                <td>{{i+1 }}</td>
                <td>{{data.title}}</td>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="onClickMe()">
                            Approved
                           </button>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <h4>Are you sure? you want to Approved </h4>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="sendApproval(data._id)">YES</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                                </div>

                            </div>
                        </div>
                    </div>






                    <!-- <button type="submit" class="btn btn-primary"><a  class="text-white" (click)="sendApproval(data._id)">Approved</a></button> -->
                </td>
            </tr>

        </tbody>
    </table>
</div>